<!-- <footer> -->
<p style="font-size: 12px; color: #666666; text-align: center;">
    This email was sent from Elixir Cafe. If you have any questions, please contact our customer support at
    support@elixircafe.com
    <br>
    Elixir Cafe, 123 Main Street, Gallo, Kingston, Jamaica
</p>
<!-- </footer> -->